#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 3;    
  line-clamp: 3;            
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
